.add-student{
    margin-left: 35%;
    padding-left: 30px;
    padding-top: 30px;
    height: 600px;
    width: 400px;
    background-color: whitesmoke;
}
.add-student input[type="text"]{
    height: 30px;
    width:250px;
    padding-left: 20px;
}
.add-student input[type="password"]{
    height: 30px;
    width:250px;
    padding-left: 20px;
}
.add-student input[type="date"]{
    height: 30px;
    width:250px;
    padding-left: 20px;
}

.add-student input[type="submit"]{
    height: 30px;
    width:90%;
    font-size: 20px;
    color:black;
    background-color: #DE8704;
}
.error{
    color: red;
}
.give-attendance{
    margin-left: 7.5%;
    height: 500px;
    width: 85%;
    background-color: burlywood;
    border: 2px solid darkgray;
}
.search{
    padding: 20px;
    height: 500px;
    width: 25%;
    background-color: burlywood;
    border-right: 2px solid white;
    color: black;
    font-size: 15px;
}
.view{
    padding: 20px;
    margin-left: 21.5%;
    position: absolute;
    height: 490px;
    width: 63%;
    background-color: burlywood;
}




